body {
    font-family: Arial, sans-serif;
    background-color: #001F3F;
    color: #F4E542;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #FF0000;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #D40000;
}

#sonuç {
    margin-top: 20px;
}

#sonuç p {
    font-size: 1.2em;
    margin: 5px 0;
}
